@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Manrope', sans-serif;
}

input,
textarea,
button,
select,
a,
h1,
h2,
li {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
  background-color: #F97316;
  color: white;
}